@import "../utill/variable.scss";
@import "../utill/function.scss";
@import "../utill/mixin.scss";

.container {
    @include setTextColor($secondary);
    @include flex;
    flex-direction: column;
    padding: 2rem;
  h1 {
    text-transform: capitalize;
  }
  form {
    @include flex;
    @include padding;
    flex-direction: column;
    input[type="text"],
    input[type="email"],
    textarea{
        @include padding;
        @include margin;
        border:none;
        outline:none;
    }
  }
}
