@import "../utill/variable.scss";
@import "../utill/function.scss";
@import "../utill/mixin.scss";

.footer {
  @include padding;
  @include flex;
  @include setTextColor($secondary);
  flex-direction: column;
  h1{
      text-transform: capitalize;
  }
  .social {
    @include padding;
    @include margin;
    a {
      @include padding;
      color: #fff;
      &:hover {
        color: $quaternary;
      }
    }
  }
}
