@import "../utill/variable.scss";
@import "../utill/function.scss";
@import "../utill/mixin.scss";

%footer {
  @include padding;
  @include flex;
  @include setTextColor($secondary);
  flex-direction: column;
  h1 {
    text-transform: capitalize;
  }
  .social {
    @include padding;
    @include margin;
    a {
      @include padding;
      color: #fff;
      &:hover {
        color: $quaternary;
      }
    }
  }
}

.footer {
  @extend %footer;
}

.footerBlue {
  @extend %footer;
  @include setTextColor($secondaryBlue);
  .social {
    a {
      &:hover {
        color: $quaternaryBlue;
      }
    }
  }
}

.footerPink {
  @extend %footer;
  @include setTextColor($secondaryPink);
  .social {
    a {
      &:hover {
        color: $quaternaryPink;
      }
    }
  }
}

.footerLightBlue {
  @extend %footer;
  @include setTextColor($secondaryLightBlue);
  .social {
    a {
      &:hover {
        color: $quaternaryLightBlue;
      }
    }
  }
}

.footerYellow {
  @extend %footer;
  @include setTextColor($secondaryYellow);
  .social {
    a {
      &:hover {
        color: $quaternaryYellow;
      }
    }
  }
}
