@import "../utill/_variable.scss";
@import "../utill/_function.scss";
@import "../utill/_mixin.scss";

%hackthon {
  @include setTextColor($secondary);
  @include padding;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .video {
    @include padding;
    @include margin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h3 {
      @include padding;
    }
  }
  video {
    height: 50vh;
    width: 50vw;
  }
  iframe {
    height: 50vh;
    width: 50vw;
  }
}

.hackthon {
  @extend %hackthon;
}

.hackthonBlue {
  @extend %hackthon;
  @include setTextColor($secondaryBlue);
  .video {
    a {
      @include setTextColor($secondaryBlue);
    }
  }
}

.hackthonPink {
  @extend %hackthon;
  @include setTextColor($secondaryPink);
  .video {
    a {
      @include setTextColor($secondaryPink);
    }
  }
}

.hackthonLightBlue {
  @extend %hackthon;
  @include setTextColor($secondaryLightBlue);
  .video {
    a {
      @include setTextColor($secondaryLightBlue);
    }
  }
}

.hackthonYellow {
  @extend %hackthon;
  @include setTextColor($secondaryYellow);
  .video {
    a {
      @include setTextColor($secondaryYellow);
    }
  }
}
