@import "../utill/variable.scss";
@import "../utill/function.scss";
@import "../utill/mixin.scss";

%hero {
  @include flex;
  @include setTextColor($secondary);
  flex-direction: column;
  width: 100%;
  height: 90vh;
  .img {
    img {
      border-radius: 50%;
      height: 20vh;
      width: 10vw;
    }
  }
}

.heroDefault {
  @extend %hero;
}

.heroBlue {
  @extend %hero;
  @include setTextColor($secondaryBlue);
}

@mixin fadeIn($color, $name) {
  @for $i from 1 to 10 {
    @keyframes fadeIn#name#{$i} {
      0% {
        background-color: transparent;
      }
      100% {
        background-color: lighten(darken($color, 20), ($i * 5));
      }
    }
  }
}

@include fadeIn($primary, Default);
@include fadeIn($primaryBlue, Blue);
