@import "../utill/variable";
@import "../utill/function.scss";
@import "../utill/mixin";

%desktop {
  @include setTextColor($primary);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding: 1.5rem;
  z-index: 1;
  @media screen and (max-width: 950px) {
    display: none;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      list-style: none;
      ul {
        @include setTextColor(darken($primary, 2));
        @include borderRaduis;
        position: absolute;
        top: 11vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        li {
          @include padding;
          cursor: pointer;
          &:hover {
            @include setTextColor(lighten($primary, 1));
          }
        }
      }
      a {
        @include setTextColor($primary);
        @include padding;
        @include margin;
        @include borderRaduis;
        text-decoration: none;
        &:hover {
          @include setTextColor($secondary);
        }
      }
    }
  }
  img {
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
  }
}

.desktopDefault {
  @extend %desktop;
}
.desktopBlue {
  @extend %desktop;
  @include setTextColor($primaryBlue);
  ul {
    li {
      a {
        @include setTextColor($primaryBlue);
        &:hover {
          @include setTextColor($secondaryBlue);
        }
      }
      ul {
        @include setTextColor(darken($primaryBlue, 2));
        li {
          &:hover {
            @include setTextColor(lighten($primaryBlue, 1));
          }
        }
      }
    }
  }
}

.desktopPink {
  @extend %desktop;
  @include setTextColor($primaryPink);
  ul {
    li {
      a {
        @include setTextColor($primaryPink);
        &:hover {
          @include setTextColor($secondaryPink);
        }
      }
      ul {
        @include setTextColor(darken($primaryPink, 2));
        li {
          &:hover {
            @include setTextColor(lighten($primaryPink, 1));
          }
        }
      }
    }
  }
}

.desktopLightBlue {
  @extend %desktop;
  @include setTextColor($primaryLightBlue);
  ul {
    li {
      a {
        @include setTextColor($primaryLightBlue);
        &:hover {
          @include setTextColor($secondaryLightBlue);
        }
      }
      ul {
        @include setTextColor(darken($primaryLightBlue, 2));
        li {
          &:hover {
            @include setTextColor(lighten($primaryLightBlue, 1));
          }
        }
      }
    }
  }
}

.desktopYellow {
  @extend %desktop;
  @include setTextColor($primaryYellow);
  ul {
    li {
      a {
        @include setTextColor($primaryYellow);
        &:hover {
          @include setTextColor($secondaryYellow);
        }
      }
      ul {
        @include setTextColor(darken($primaryYellow, 2));
        li {
          &:hover {
            @include setTextColor(lighten($primaryYellow, 1));
          }
        }
      }
    }
  }
}

%mobile {
  @include padding;
  @include setTextColor($primary);
  position: sticky;
  top: 0;
  display: none;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  .lines {
    @include padding;
    .line {
      @include margin;
      @include borderRaduis;
      height: 1vh;
      width: 10vw;
      background-color: #fff;
    }
  }
  ul {
    @include setTextColor($tertiary);
    @include padding;
    width: 100%;
    position: absolute;
    top: 15vh;
    left: 0;
    flex-direction: column;
    li {
      @include padding;
      list-style: none;
      a {
        @include setTextColor($tertiary);
        text-transform: capitalize;
        text-decoration: none;
      }
      ul {
        @include setTextColor(darken($primary, 2));
        top: 47vh;
        li {
          &:hover {
            @include setTextColor(lighten($primary, 1));
          }
        }
      }
    }
  }
  img {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
  }
  @media screen and (max-width: 950px) {
    display: flex;
  }
}

.mobile {
  @extend %mobile;
}

.mobileBlue {
  @extend %mobile;
  @include setTextColor($primaryBlue);
  ul {
    @include setTextColor($tertiaryBlue);
    li {
      a {
        @include setTextColor($tertiaryBlue);
      }
      ul {
        @include setTextColor(darken($primaryBlue, 2));
        li {
          &:hover {
            @include setTextColor(lighten($primaryBlue, 1));
          }
        }
      }
    }
  }
}

.mobilePink {
  @extend %mobile;
  @include setTextColor($primaryPink);
  ul {
    @include setTextColor($tertiaryPink);
    li {
      a {
        @include setTextColor($tertiaryPink);
      }
      ul {
        @include setTextColor(darken($primaryPink, 2));
        li {
          &:hover {
            @include setTextColor(lighten($primaryPink, 1));
          }
        }
      }
    }
  }
}

.mobileLightBlue {
  @extend %mobile;
  @include setTextColor($primaryLightBlue);
  ul {
    @include setTextColor($tertiaryLightBlue);
    li {
      a {
        @include setTextColor($tertiaryLightBlue);
      }
      ul {
        @include setTextColor(darken($primaryLightBlue, 2));
        li {
          &:hover {
            @include setTextColor(lighten($primaryLightBlue, 1));
          }
        }
      }
    }
  }
}

.mobileYellow {
  @extend %mobile;
  @include setTextColor($primaryYellow);
  ul {
    @include setTextColor($tertiaryYellow);
    li {
      a {
        @include setTextColor($tertiaryYellow);
      }
      ul {
        @include setTextColor(darken($primaryYellow, 2));
        li {
          &:hover {
            @include setTextColor(lighten($primaryYellow, 1));
          }
        }
      }
    }
  }
}
