@import "../utill/variable.scss";
@import "../utill/function.scss";
@import "../utill/mixin.scss";

%container {
  @include setTextColor($tertiary);
  @include flex;
  @include padding;
  flex-direction: column;
  text-transform: capitalize;
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media screen and (max-width: 1000px) {
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 750px) {
      grid-template-columns: 1fr;
    }
    .project {
      @include setTextColor($secondary);
      @include padding;
      @include margin;
      @include borderRaduis;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      animation: moveUp 2s ease-out;
      .sliders {
        @include padding;
        position: relative;
        top: -30vh;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
          @include padding;
          @include setTextColor($tertiary);
          border-radius: 50%;
          border: none;
          outline: none;
          cursor: pointer;
          opacity: 0.3;
          &:hover {
            opacity: 1;
          }
        }
      }
      img {
        width: 100%;
        height: 20vh;
      }
      a {
        @include margin;
        @include setTextColor($tertiary);
      }
    }
  }
}

.container {
  @extend %container;
}

.containerBlue {
  @extend %container;
  @include setTextColor($tertiaryBlue);
  .projects {
    .project {
      @include setTextColor($secondaryBlue);
      .sliders {
        button {
          @include setTextColor($tertiaryBlue);
        }
      }
      a {
        @include setTextColor($secondaryBlue);
      }
    }
  }
}

.containerPink {
  @extend %container;
  @include setTextColor($tertiaryPink);
  .projects {
    .project {
      @include setTextColor($secondaryPink);
      .sliders {
        button {
          @include setTextColor($tertiaryPink);
        }
      }
      a {
        @include setTextColor($secondaryPink);
      }
    }
  }
}

.containerLightBlue {
  @extend %container;
  @include setTextColor($tertiaryLightBlue);
  .projects {
    .project {
      @include setTextColor($secondaryLightBlue);
      .sliders {
        button {
          @include setTextColor($tertiaryLightBlue);
        }
      }
      a {
        @include setTextColor($secondaryLightBlue);
      }
    }
  }
}

.containerYellow {
  @extend %container;
  @include setTextColor($tertiaryYellow);
  .projects {
    .project {
      @include setTextColor($secondaryYellow);
      .sliders {
        button {
          @include setTextColor($tertiaryYellow);
        }
      }
      a {
        @include setTextColor($secondaryYellow);
      }
    }
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(20vh);
  }
  100% {
    transform: translateY(0);
  }
}
