@import "../utill/variable.scss";
@import "../utill/function.scss";
@import "../utill/mixin.scss";

%container {
  @include padding;
  @include flex;
  @include setTextColor($tertiary);
  flex-direction: column;
  h1 {
    text-transform: capitalize;
  }
  .skills {
    @include padding;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media screen and (max-width: 1500px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media screen and (max-width: 1100px) {
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 750px) {
      grid-template-columns: 1fr;
    }
    .skill {
      @include margin;
      @include padding;
      @include borderRaduis;
      @include setTextColor($secondary);
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      animation: skill 2s ease-in;
      height: 30vh;
      width: 30vw;
      @media screen and (max-width: 500px) {
        height: 30vw;
        width: 30vh;
      }
      p {
        overflow: auto;
      }
    }
  }
}

.container {
  @extend %container;
}

.containerBlue {
  @extend %container;
  @include setTextColor($tertiaryBlue);
  .skills {
    .skill {
      @include setTextColor($secondaryBlue);
    }
  }
}

.containerPink {
  @extend %container;
  @include setTextColor($tertiaryPink);
  .skills {
    .skill {
      @include setTextColor($secondaryPink);
    }
  }
}

.containerLightBlue {
  @extend %container;
  @include setTextColor($tertiaryLightBlue);
  .skills {
    .skill {
      @include setTextColor($secondaryLightBlue);
    }
  }
}

.containerYellow {
  @extend %container;
  @include setTextColor($tertiaryYellow);
  .skills {
    .skill {
      @include setTextColor($secondaryYellow);
    }
  }
}

@keyframes skill {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    height: 30vw;
    width: 30vw;
  }
}
