/* Default */
$primary: #6f4f1d;
$secondary: #7c501a;
$tertiary: #876127;
$quaternary: #926a2d;

/* Blue */
$primaryBlue: #53565a;
$secondaryBlue: #009ccf;
$tertiaryBlue: #b4fdc0;
$quaternaryBlue: #78d4f7;

/* Pink */
$primaryPink: #f70776;
$secondaryPink: #c3195d;
$tertiaryPink: #680747;
$quaternaryPink: #141010;

/* LightBlue */
$primaryLightBlue: #93e4c1;
$secondaryLightBlue: #3baea0;
$tertiaryLightBlue: #118a7e;
$quaternaryLightBlue: #1f6f78;

/* yellow */
$primaryYellow: #ffde74;
$secondaryYellow: #ffa974;
$tertiaryYellow: #ff715a;
$quaternaryYellow: #ff3757;
