/* Default */
$primary: #6f4f1d;
$secondary: #7c501a;
$tertiary: #876127;
$quaternary: #926a2d;

/* Blue */
$primaryBlue: #53565a;
$secondaryBlue: #009ccf;
$tertiaryBlue: #b4fdc0;
$quaternaryBlue: #78d4f7;
