@import "./utill/variable";
@import "./utill/function";
@import "./utill/partial.scss";
@import "./utill/mixin";
@import "./utill/button.scss";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family:  'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a{
    color: #fff;
}
